@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-image {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 0.6) 22%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.6) 78%, rgba(255, 255, 255, 1) 83%);
}
.animation-laoding {
  animation: loading infinite normal;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
